name: E2E Test
on:
  workflow_call:

permissions:
  contents: read

jobs:
  active_support_deno_lts:
    name: Active Support / Deno LTS
    runs-on: ubuntu-latest
    services:
      verdaccio:
        image: verdaccio/verdaccio:6
        ports:
          - 4873:4873
        volumes:
          - ./etc/verdaccio:/verdaccio/conf
    permissions:
      contents: write
      pull-requests: read
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
      with:
        egress-policy: audit
    - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
    - uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
      with:
        name: lib
        path: packages
    - uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
    - name: Use Graphviz
      uses: ts-graphviz/setup-graphviz@b1de5da23ed0a6d14e0aeee8ed52fdd87af2363c # v2.0.2
    - name: Use Node.js
      uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
      with:
        node-version: lts/*
        cache: pnpm
        registry-url: http://localhost:4873
    - name: Use Deno
      uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
      with:
        deno-version: lts
    - name: Creating .npmrc
      run: |
        cat << EOF > "$HOME/.npmrc"
        registry=http://localhost:4873
        EOF
    - name: Install dependencies
      run: pnpm install --frozen-lockfile
    - name: Install moreutils
      run: sudo apt-get update && sudo apt-get install -y moreutils
    - name: Publish to Verdaccio
      run: |

        for workspace in $(pnpm ls -r --filter "./packages/*" --depth -1 --parseable); do
          cd $workspace
          jq 'del(.publishConfig.provenance)' package.json | sponge package.json
          jq '.version = "0.0.0-e2e-${{ github.sha }}"' package.json | sponge package.json
        done
        pnpm publish -r --no-git-checks --registry http://localhost:4873
    - name: Run Deno
      working-directory: examples
      run: |
        deno info
        deno install --no-lock
        deno run --no-lock --allow-run --allow-write sample.ts
